.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
  .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    img {
      height: 500px;
    }
  }
  .row {
    display: flex;
    flex: 1;
    gap: 10px;
    position: relative;
    overflow: hidden;
    button {
      position: absolute;
      min-width: 100px;
      width: fit-content;
      height: 50px;
      padding: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
      background-color: white;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .col-l {
    flex: 2;
  }

  /* background-color: aquamarine; */
}
